<div>
    <nav>
        <ul>
            <li>
                <p>
                    Text to sentences parser!
                </p>
            </li>
            <li>
                <a href="https://medium.com/@beeman/tutorial-styling-angular-cli-v6-apps-with-bootstrap-8d4f8ea5adae" target="_blank">
                    <i class="material-icons">supervised_user_circle</i>
                </a>
            </li>
            <li>
                <a>
                    <i class="material-icons">code</i>
                </a>
            </li>
        </ul>
    </nav>
</div>
