html, body, .container {
  height: 100%;
}

.container {
  display: table;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.row {
  height: 100%;
  display: table-row;
}

.col-full-height{
  margin-bottom: -9999px;
  padding-bottom: 9999px
}
